.blog {
    --bg-dark: oklch(from var(--s-blue) calc(l - 0.62) c h);
    --bg: var(--s-white);

    --fg-dark: oklch(from var(--s-beige) calc(l - 0.1) c h);
    --fg: var(--s-brown);
    --fg-muted: var(--s-dark-grey);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--bg);
    color: var(--fg);
}

.blog__header {
    margin-top: 10%;
    margin-bottom: 2%;
    color: var(--s-blue);
    font-size: 2em;
}

.blog__header a {
    color: inherit;
    text-decoration: none;
}

.blog__contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}

.blog__container {
    margin-bottom: 7%;
}
