/* Colours
--background-colour: #1f1f28;
--alt-background-colour: #16161d;
--foreground-colour: #dcd7ba;
--alt-foreground-colour: #c8c093;
 */

ul {
    list-style-type: none;
}
#mainSection{
    display: block;
    height: 100%;
    padding: 0;
}
.heroContainer{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.hero-title-block {
    position: absolute;
    height: 130px;
    width: 500px;
    top: 60%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    /*position: relative;*/
    font-size: 45px;
    font-weight: 300;
    display: inline-block;
    vertical-align: baseline;
    /*text-transform: uppercase;*/
    /*padding: 0 30vw;*/
    /*letter-spacing: 0.45em;*/
    /*color: #16161d;*/
    color: #c8c093;
    z-index: 2;
    margin: 0 0 20px 0;
}

.hero-subtitle {
    font-size: 30px;
    font-weight: 200;
    color: #dcd7ba;
    /*color: #1f1f28;*/
    z-index: 2;
}

.hero-image {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    background-color: #1f1f28;
}
.about__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 50%;
}
.about-text {
    margin: 0 10px 0 0;
}
.about-text__title {
    text-align: end;
    padding: 0px;
    margin: 0 0 10px 0;
    font-size: 50px;
    color: #dcd7ba;
    font-weight: 300;
}
.about-text__name {
    text-align: right;
    font-size: 30px;
    margin: 0 0 41px 0;
    color: #dcd7ba;
    font-weight: 100;
}
.about-text__description {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0px;
}
.about-text__link {
    font-size: 30px;
    padding-bottom: 20px;
    color: #dcd7ba;
    font-weight: 100;
    text-decoration: none;
}

.about-image {
    margin: 0 0 0 10px;
}
.about-image__credit {
    text-align: right;
    color: #dcd7ba;
    font-weight: 100;
}

/* Project Section */
#projectSection{
    background-color: #16161d;
    display: flex;
    flex-direction: column;
}
#projectSection .container{
    padding: 10px;
    background-color: transparent;
}
#projectTitle{
    padding: 5px;
}
#projectTitle h2{
    margin: 0;
    padding: 0 20px;
    font-size: 2rem;
    color: #a6002f;
}
.specialCell{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.specialCell .cell{
    height: 60vh;
    width: 28vw;
    padding: 0;
    margin: 0;
}
#f1 {
    position: relative;
    z-index: 0;
    background-color: black;
}
#f1::before {
    content: "";
    display: block;
    z-index: 1;
    position: absolute;
    width: 28vw;
    height: 60vh;
    opacity: 1;
    background-image: url(/resources/coding.svg);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 10% 100%;
    transition: background-size 1.5s linear, background-position 1.5s linear, opacity 0.3s, filter 0.3s;
}
#f1::after {
    content: "I built this entire website from the ground up using only HTML, CSS, and Javascript. In this article I talk about my experiences learning how to do front end development for webpages and some of the challenges I've faced.";
    font-size: 1.5rem;
    color: #590019;
    display: none;
    z-index: 2;
    position: absolute;
    width: 20vw;
    height: 40vh;
    padding: 10vh 4vw;
}
#f1:hover::after {
    display: block;
}
#f1:hover::before {
    filter: blur(5px);
    opacity: 0.4;
    background-size: 320%;
    background-position: 13% 93%;
}

.gallery {
    display: flex;
    justify-content: center;
    /*background-color: #dcd7ba;*/
    background-color: #16161d;
}
.gallery__container {
    display: flex;
    flex-direction: column;
}
.gallery__title {
    color: #dcd7ba;
    /*color: #1f1f28;*/
    font-weight: 200;
    font-size: 40px;
    margin: 0 0 21px 0;
}
.gallery-grid {
    align-self: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 7px;
}

/*Contact Form*/
#contactSection{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
#contactTitle{
    padding: 50px 0 0 0;
}
#contactTitle .cell{
    padding: 0;
}
#contactTitle h2{
    margin: 0;
    font-size: 5vh;
    color: lightcoral;
}

@media (max-width:1100px) {
    #galleryTitle {
        padding: 0 0 0 60px;
    }
    .galleryRow {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    }
    .galleryRow img {
        margin: 3px;
    }
}
@media (max-width:900px){
    .mainContainer:before{
        background-size: 70em;
    }
    #aboutImage{
        display: none;
    }
    #aboutText {
        padding: 0 50px 0 0;
    }
    #galleryTitle {
        padding: 0 0 0 30px;
    }
    .specialCell{
        flex-direction: column;
    }
}
@media (max-width:600px) {
    #mainSubtitle {
        display: none;
    }
}
