.portfolio {
    overflow: scroll;
    height: 100vh;
}
.portfolio__header {
    position: sticky;
    top: 3%;
    left: 5%;
    float: left;
}

.portfolio__heading {
    color: inherit;
    font-size: 1.5em;
    font-weight: 400;
}
.portfolio__section {
    padding: 0 5%;
}
.portfolio__gallery {
    margin-top: 2%;
}

.portfolio__section.elements {
    --bg: oklch(from var(--s-green) calc(l - 0.15) calc(c / 2) h);
    --fg: oklch(from var(--s-yellow) calc(l - 0.01) c h);
    --accent: oklch(from var(--s-brown) calc(l + 0.3) calc(c * 1.7) calc(h + 30));
    background-color: var(--bg);
    color: var(--fg);
}
.elements p {
    color: var(--accent);
}

.portfolio__section.boundaries {
    --bg: oklch(from var(--s-grey) l c h);
    --fg: var(--s-red);
    --accent: oklch(from var(--s-orange) calc(l - 0.2) calc(c + 0.07) h);
    background-color: var(--bg);
    color: var(--fg);
}
.boundaries p {
    color: var(--accent);
}

.portfolio__section.gestures {
    --bg: oklch(from var(--s-white) l c h);
    --fg: var(--s-dark-grey);
    --accent: oklch(from var(--s-blue) l c h);
    background-color: var(--bg);
    color: var(--fg);
}
.gestures p {
    color: var(--accent);
}

.portfolio__section.distances {
    --bg: oklch(from var(--s-blue) calc(l - 0.59) c h);
    --fg: oklch(from var(--s-beige) calc(l - 0.07) c h);
    --accent: oklch(from var(--s-yellow) calc(l + 0.2) calc(c / 2) h);
    background-color: var(--bg);
    color: var(--fg);
}

.distances p {
    color: var(--accent);
}
