.run {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: oklch(from var(--s-white) calc(l + 0.07) c h);
    height: 100vh;
    width: 100vw;
}

.run__header {
    margin-top: 5%;
    margin-bottom: 2em;
    margin-left: 10%;
    font-size: 2em;
    color: var(--s-orange);
}

.run__container {
    display: grid;
    padding: 0 10%;
    grid-template-columns: 50% 50%;
}
